#jumbotron{
    width: 600px;    
    background-color: transparent;
}
#logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.card-img-top{
    height: 250px;
}
#qui{
    height: 350px;
    width: 450px;
    padding: auto;
}
#presentation{
    background-image: url(media/qui.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 5%;
}

/*---------- Caroussel --------*/
.carousel{
    margin-top: 50px;
}
.carousel-inner{
    height: 100px;
}
.carousel-caption{
    color: #000;
    top: 50%;
}
.carousel-control-prev-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; 
} 
  
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; 
} 

.photo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.carousel-inner{
    height: 250px !important;
}

/*------ Fin caroussel --------*/

/*----------- Map -------------*/

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*--------- Fin Map -----------*/

/*--- icone réseaux sociaux ---*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body{
  margin:0;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}


.social-margin {
  margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
   box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
}
  /* Facebook Button Styling */
.facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
   
}
.facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
}
  /* Twitter Button Styling */
.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
    
}
.twitter:hover {
    background-color: #ffffff;
    color: #55acee;
}
  
  /* Linkedin Button Styling */
.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
    
}
.linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
}


/*------ Newletter ---------*/
#mail{
    border-radius: 10px;
}

/*****Listeetcommentaire*/

#listeetcommentaire{
    height: 311px;
}
/********sectioninfo*******/

#sectioninfo{
    height: 311px;
}
/********footer****/
#footer{
    height: 90px;
}



/*********MEDIA QUERIES tablette ****/

@media all and (max-width: 768px) {
   #sectiontext{
       padding-top: 30px; 
       height: 200px;
 
   }
  
   #cards{
       width: 707px;
       
   }
   .card{
       height: 150px;
   }
  .card-text{
      height: 90%;
  }
  
   #listeetcommentaire{
       height: 276px;
   }
   #sectioninfo{
       height: 245px;
   }
   #footer{
       height: 92px;
   }
   ul{
       padding-top:50px;
   }
   
 

  /**************************************/
 /* #ul{
      height: 80px;

  } 
  #commentaire{
      height: 400px;
  }
  #listecommentaire{
      height: 276px;
  }
   #carousel{
       padding-bottom: 500px;
   }
  #titre{
      padding-left: 45px;
  }
  ul{
      padding-top: 65px;
  }*/
/************************************/


}

/*---- Mobile ----*/

@media all and (max-width:590px){
    

    header{
        height: 350px!important;
    }
    .font{
        font-size: 14px;
        font-weight: normal;
    }
    .font-titre{
        font-size: 20px!important;
        font-weight: 700;
    }
    .bgblack{
        background: rgba(0,0,0,0.5);
    }
    
    .jumbotron p{
        font-size: 10px;
    }
    .jumbotron h1{
        font-size: 25px;
    }

    #produit{
        padding: 0;
    }
    .card-img-top{
        height: 200px;
    }
    .card{
        height: 10%!important;
    }
    #cards{
        top: 0!important;
    }
    #cards-2{
        /*position: absolute;*/
        width: 100%;
        height: 70rem!important;
    }
    #titre-texte{
        position: relative;
        top: auto;
    }
    #sec-presentation{
        height: 360px!important;
        width: 90%!important;
    }
    #qui{
        margin: 0!important;
        display: block;
        padding: 0!important;
        padding-left: 2rem!important;
        width: 650px!important;
        
    }
    #qui div{
        width: 80%;
        margin: 0!important;
    }
    #qui p{
        font-size: 13px;
        width: 11rem!important;
    }
    #qui button{
        width: 70%;
        font-size: 10px;
    }
    .nomp{
        margin: 0!important;
        padding: 0!important;
    }
    .commentaire{
        height: 600px;
    }
    .commentaire h3{
        font-size: 20px;
    }
    #service{
        margin-left: 2%!important;
    }
    #service h3{
        padding: 0!important;
    }
    #service ul{
        padding:6%!important;
    }
    #service li{
        font-size: 12px;
    }
    #caroussel p{
        font-size: 12px;
    }
    #caroussel h3{
        padding-left: 4%!important;
    }

    #map-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .maxw{
        max-width: 100%!important;
        padding-top: 5%;
    }
    #map-container-google-1{
        height: 200px!important;
        width: 250px!important;
        margin-top: 30px;
    }

    .social-icon{
        height: 40px;
        width: 40px;
        padding-top: 2px;
    }

    #sectiontext{
        top: 0!important;
        margin-top: 1rem!important;
        height: 310px!important;
    }

    .nowidth{
        width: 3rem!important;
    }

    #listeetcommentaire{
        height: 700px!important;
        display: flex!important;
        flex-direction: column;
        align-content: center;
    }

    .presentation-texte{
        width: 8rem;
        margin-left: 3rem!important;
    }
 }
 /*-----------*/



 